dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-extensions==0.0.41
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
plotly==4.12.0
pandas
-e git+https://github.com/twintproject/twint.git@4b30fa33991ccdf89c77471382daad3d3bc8c988#egg=twint
dataclasses==0.6
ddtrace==0.45.0
numpy==1.18.5
tables==3.6.1
tblib==1.6.0
tenacity==6.3.1
terminado==0.8.3
testpath==0.4.4
pickleshare==0.7.5
regex 
requests==2.11.1
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
retrying==1.3.3
rope==0.17.0
nltk
gunicorn
